In [64]:
#Imports & Dependencies
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
import pandas as pd
import pymongo

In [65]:
#Site Navigation
executable_path = {"executable_path": "chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless=False)

In [66]:
#teams_df = pd.DataFrame({ "Team": ["Arizona Cardinals", "Alanta Falcons", "Baltomore Ravens", "Buffalo Bills"], "Average Purchase Price": [male_avg_price, female_avg_price, Others_avg_price] })

In [67]:
teams_url = "https://www.pro-football-reference.com/years/2019/attendance.htm"
browser.visit(teams_url)
teams_html = browser.html
soup = bs(teams_html, "html.parser")

In [68]:
facts = soup.find("div", class_="overthrow table_container", id_="div_attendance")
tables = pd.read_html(teams_url)
df = tables[0]
# Drop NAN in data frame
df_dropna = df.dropna()

In [69]:
abbreviation = ["crd", "atl", "rav", "buf", "car", "chi", "cin", "cle", "dal", "den", "det", "gnb", "htx", "clt", "jax", "kan", "sdg", "ram", "mia", "min", "nwe", "nor", "nyg", "nyj", "rai", "phi", "pit", "sfo", "sea", "tam", "oti", "was"]

In [70]:
# Add "Abbrevation" column in dataframe
df_dropna['Abbrevation'] = abbreviation

# Rename Tm to Team
df_dropna = df_dropna.rename(columns={"Tm": 'Team'})
type(df_dropna)

pandas.core.frame.DataFrame

In [71]:
# Only selecet Team and Abbrevation columns
new_df = df_dropna.drop(columns=['Total', 'Home', 'Away','Week 1', 'Week 2', 'Week 3', 'Week 4', 'Week 5', 'Week 6', 'Week 7', 'Week 8', 'Week 9', 'Week 10', 'Week 11', 'Week 12', 'Week 13', 'Week 14', 'Week 15', 'Week 16', 'Week 17'])

new_df

                    Team Abbrevation
0      Arizona Cardinals         crd
1        Atlanta Falcons         atl
2       Baltimore Ravens         rav
3          Buffalo Bills         buf
4      Carolina Panthers         car
5          Chicago Bears         chi
6     Cincinnati Bengals         cin
7       Cleveland Browns         cle
8         Dallas Cowboys         dal
9         Denver Broncos         den
10         Detroit Lions         det
11     Green Bay Packers         gnb
12        Houston Texans         htx
13    Indianapolis Colts         clt
14  Jacksonville Jaguars         jax
15    Kansas City Chiefs         kan
16  Los Angeles Chargers         sdg
17      Los Angeles Rams         ram
18        Miami Dolphins         mia
19     Minnesota Vikings         min
20  New England Patriots         nwe
21    New Orleans Saints         nor
22       New York Giants         nyg
23         New York Jets         nyj
24       Oakland Raiders         rai
25   Philadelphia Eagles         phi
26   Pittsburgh Steelers         pit
27   San Francisco 49ers         sfo
28      Seattle Seahawks         sea
29  Tampa Bay Buccaneers         tam
30      Tennessee Titans         oti
31   Washington Redskins         was